<div class="flex flex-col justify-start w-full h-full p-5 bg-gray-100 overflow-y-scroll" (click)="openRefeicao = false">
    <div class="flex justify-between items-center">
        <div class="flex gap-8 items-center">
            <svg class="h-6 w-6 fill-none stroke-current" viewBox="0 0 20 22" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 20.5L18.8345 19.4362C18.6259 18.0954 17.7516 16.9469 16.455 16.5466C14.8635 16.0553 12.5095 15.5 10 15.5C7.49052 15.5 5.13654 16.0553 3.54504 16.5466C2.24842 16.9469 1.37405 18.0954 1.16547 19.4362L1 20.5M15 6C15 8.76142 12.7614 11 10 11C7.23858 11 5 8.76142 5 6C5 3.23858 7.23858 1 10 1C12.7614 1 15 3.23858 15 6Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <span class="font-bold text-2xl">Seu Progresso</span>
        </div>

        <svg class="h-6 w-6 fill-none stroke-current" viewBox="0 0 22 23" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 1V3M16 1V3M1 8H21M5.5 13H6.5M10.5 13H11.5M15.5 13H16.5M5.5 17H6.5M10.5 17H11.5M15.5 17H16.5M4 22H18C19.6569 22 21 20.6569 21 19V6C21 4.34315 19.6569 3 18 3H4C2.34315 3 1 4.34315 1 6V19C1 20.6569 2.34315 22 4 22Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>

    <div class="flex items-start my-10 w-full min-h-20 overflow-x-scroll overflow-y-hidden no-scrollbar" #days>
      <div class="flex flex-col gap-1 justify-center items-center mx-3" (click)="selectDay(day.day)" *ngFor="let day of daysOfMonth">
            <span class="text-gray-500 font-medium" [ngClass]="{'!text-primary !font-semibold': day.day == selectedDay}">{{ day.weekDay }}</span>
            <span class="text-gray-500 font-medium" [ngClass]="{'!text-primary !font-semibold': day.day == selectedDay}">{{ day.day }}</span>
            <span class="text-primary text-2xl" *ngIf="day.day == selectedDay">•</span>
        </div>
    </div>


    <div class="w-full flex flex-col justify-center items-center gap-5 mb-20">
        <img src="assets/img/progress-banner.png" alt="" class="w-40">
        <span class="text-primary font-bold">Sem Registros Hoje</span>
    </div>

    <!-- CARDAPIO -->
    <div class="rounded-lg bg-light flex flex-col gap-5 p-3 border border-gray-200" *ngIf="!isEmptyObject(almoco)">
        <div class="w-full flex justify-between items-center">
            <span class="text-primary font-bold">Cardápio do dia</span>
            <span class="text-primary text-4xl font-extralight" (click)="$event.stopPropagation(); openRefeicao = true">+</span>
        </div>
        <div class="rounded-lg bg-light flex flex-col gap-5 p-3 border border-gray-200">
            <div class="w-full flex justify-between items-center gap-3">
                <span class="text-gray-700 font-bold">Almoço</span>
                <div class="w-full h-[1px] bg-primary"></div>
            </div>

            <div class="flex flex-col">
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.prato_principal }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.prato_veg }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.arroz_principal }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.arroz_secundario }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.feijao_principal }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3" *ngIf="almoco.feijao_secundario">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.feijao_secundario }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.guarnicao }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ almoco.salada }}</span>
                </div>
            </div>

            <div class="w-full flex justify-between items-center gap-3" *ngIf="!isEmptyObject(jantar)">
                <span class="text-gray-700 font-bold">Jantar</span>
                <div class="w-full h-[1px] bg-primary"></div>
            </div>

            <div class="flex flex-col" *ngIf="!isEmptyObject(jantar)">
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.prato_principal }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.prato_veg }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.arroz_principal }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.arroz_secundario }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.feijao_principal }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3" *ngIf="jantar.feijao_secundario">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.feijao_secundario }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.guarnicao }}</span>
                </div>
                <div class="w-full flex justify-start items-center gap-3">
                    <span class="text-primary text-2xl">•</span>
                    <span class="text-gray-700">{{ jantar.salada }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADICIONAR REFEIÇÃO -->
<div class="rounded-t-3xl bg-white fixed bottom-0 h-0 w-full transition-all ease-in-out duration-300" [ngClass]="{'!h-2/5': openRefeicao}">

</div>
