@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* @apply bg-primary; */
}

app-root{
    min-height: 100vh;
}

html, body { height: 100%; }
* { 
    margin: 0; 
    font-family: Poppins, sans-serif;
    letter-spacing: 0.75px;
}

/* letters */

h1{
    @apply !text-3xl !font-bold;
}

p{
    @apply !text-xs;
}

/* links */

a{
    @apply text-primary;
}

a.alternate{
    @apply text-white;
}

/* buttons */

.button{
    @apply bg-primary text-white py-3 px-4 rounded-xl flex items-center justify-center relative w-full;
}

.button.outlined{
    @apply bg-transparent border-2 border-primary text-primary;
}

.button .icon{
    @apply absolute left-4 text-start;
}

.button .text{
    @apply text-center font-medium;
}

/* inputs */

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}  

input{
    @apply p-3 w-full outline-none;
}

.input-group{
    @apply relative border-2 border-gray-950 rounded-xl flex justify-center items-center overflow-hidden w-full;
}

.input-group .icon{
    @apply text-lg mr-3;
}
